<ion-header>
  <ion-toolbar>
    <ion-title>create-proyect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-content">
    <h1>Crear nuevo proyecto</h1>
    <h3>Nos alegra que te unas a nosotros</h3>
    <div class="form-input">
      <p>Nombre del proyecto</p>
      <input type="text" placeholder="Nombre del proyecto">
    </div>
    
    <div class="form-input">
      <p>Descripción</p>
      <input type="text" placeholder="Descripción">
    </div>
    
    <div class="form-input">
      <p>Categoria</p>
      <input type="text" placeholder="Categoria">
    </div>
    
    <div class="form-input">
      <p>Etiquetas (Animales, Salud, Alimento)</p>
      <input type="text" placeholder="Etiquetas">
    </div>
    
    <div class="form-input">
      <p>Ubicación</p>
      <input type="text" placeholder="Ubicación">
    </div>
    
    <div class="form-input">
      <p>¿Que ha hecho usted por este proyecto?</p>
      <input type="text" placeholder="Descripción">
    </div>
    
    <div class="form-input">
      <p>Imagen de portada (Vertical)</p>
      <input type="file" placeholder="Cargar">
    </div>
    
    <div class="form-input">
      <p>¿Que ha hecho usted por este proyecto?</p>
      <input type="file" placeholder="Cargar">
    </div>
    

    <input type="button" value="PROPONER" class="btn-form">
  </form>

</ion-content>
