.form-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    padding-bottom: 5%;
}

.form-content h1,
.form-content h3 {
    width: 80%;
    display: block;

    color: #323643;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.form-input {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-input p {
    padding: 0 2%;
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #323643;
}

.form-input input {
    background: #FCFCFD;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    width: 100%;
    padding: 5% 5%;
    margin-top: 3%;

    // Value
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Text Color */

    color: #B9BCBE;
}

.btn-form {
    margin-top: 5%;
    background: #C96C26;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 1%;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* identical to box height, or 60% */

    text-align: center;
    font-variant: small-caps;

    /* Blanco */

    color: #FFFFFF;
}