<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabs-content" >
    <ion-tab-button tab="home">
      <img src="../../../../assets/icon/home.svg" alt="">
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <img src="../../../assets/icon/search.svg" alt="">
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-proyect" class="create-proyect-btn">
      <img src="../../../assets/icon/btn-crear.svg" alt="">
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <img src="../../../assets/icon/bell.svg">
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <img src="../../../assets/icon/user.svg" alt="">
      <ion-label>Usuario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
