<div class="imgFondo">
  <ion-img src="../assets/img/pexels-ricardo-esquivel-1868860 2.png"></ion-img>
</div>
<div class="imgPerfil">
  <ion-img src="../assets/img/pexels-ricardo-esquivel-1868860 2.png"></ion-img>
</div>



<h1 class="hola">hola como estan</h1>
<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
