<!-- <div class="contenedor">
   <ion-img class="imgFondo" src="../assets/temp-resources/pexels-ricardo-esquivel-1868860 2.png">
</div>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card> --> -->

<!-- <!-- <div class="imgFondo">
  <ion-img src="../assets/temp-resources/pexels-ricardo-esquivel-1868860 2.png"></ion-img>
</div>

<div class="contCard">
  <div class="titleProyect">
    <h1>Animales De La Calle Tunal</h1>
      <div class="etiquetas">
        <h5>animales</h5>
        <div class="space"></div>
        <h5>alimento</h5>
        <div class="space"></div>
        <h5>salud</h5>
      </div>
  </div>
  <div class="contenido">
    <div class="creador">
      <h1>creador: </h1>
      <h5>todd philips</h5>
    </div>
    <div class="creador">
      <h1>lugar: </h1>
      <h5>tunal</h5>
    </div>
    <div class="creador">
      <h1>desde:</h1>
      <h5>28 de enero de 2022</h5>
    </div>
    <div class="creador">
      <h1>descripcion</h1>
      <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci est necessitatibus neque, sint, eos nam temporibus, aut tempore consectetur aliquam cupiditate beatae voluptate quaerat reprehenderit odio obcaecati. Odit, quasi nesciunt.</h5>
    </div>
    <div class="fotos">

    </div>
    <div class="creador">
      <h1>total recaudado:</h1>
      <h5>$1.522.650</h5>
    </div>
    <div class="btn-donar">

    </div>
  </div>

</div>
<div class="imgPerfil">
  <ion-img src="../assets/temp-resources/pexels-ricardo-esquivel-1868860 2.png"></ion-img>
</div> -->