*{
    border:1px solid rgb(255, 0, 0) ;
}
@media (min-width: 400px) {

    .imgFondo{
        position: relative;
        width: 100%;
        filter: blur(7.5px)
        
    }
}
@media (max-width: 400px) {
    .imgFondo{
        position: relative;
        width: 500px;
        height: 200px;
        filter: blur(7.5px);
    }
}
.imgPerfil{
    position: relative;
    width: 100%;
    height: 200px;
    top: -200px;
    left: 30px;
    border-radius: 30px;
}
