<!-- <ion-header>
  <ion-toolbar>
    <ion-title>proyect-detail</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-img class="imgFondo" src="../assets/temp-resources/pexels-ricardo-esquivel-1868860_2.png"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Animales De La Calle Tunal</ion-card-title>
      <ion-card-subtitle class="etiquetas">
        <h5 class="nomEtiqueta">animales</h5>
        <h5 class="nomEtiqueta">alimento</h5>
        <h5 class="nomEtiqueta">salud</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="info">
        <h1 class="titleInfo">creador: </h1>
        <h5 class="contInfo">todd philips</h5>
      </div>
      <div class="info">
        <h1 class="titleInfo">lugar: </h1>
        <h5 class="contInfo">tunal</h5>
      </div>
      <div class="info">
        <h1 class="titleInfo">desde: </h1>
        <h5 class="contInfo">28 de enero de 2022</h5>
      </div>
      <div class="info">
        <h1 class="titleInfo">descripcion: </h1>
        <h5 class="contInfo">Lorem ipsum dolor, sit amet consectetur 
          adipisicing elit. Blanditiis exercitationem tempora fugiat 
          quos, voluptatum modi cupiditate vel dicta, eum impedit molestias
           ab rem obcaecati deserunt, unde iusto veniam nulla. Alias.</h5>
      </div>
        <img src="../../assets/temp-resources/pexels-bin-ziegler-1364729.png">
        <img src="../../assets/temp-resources/pexels-josué-vargas-11840975.png">
        <img src="../../assets/temp-resources/pexels-khoa-võ-11070629.png">
      <div class="info">
        <h1 class="titleInfo">total recaudado: </h1>
        <h5 class="contInfoRec">$1.522.650</h5>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-img class="imgPerfil" src="../assets/temp-resources/pexels-ricardo-esquivel-1868860_2.png"></ion-img>
  
</ion-content>
